p{
    color: blueviolet;
    text-align: center;
    font-size: 100px;
}
h1{
    color: aqua;
    text-align: center;
    font-size: 75px;
}
h2{
    color: gold;
    text-align: center;
    font-size: 75px;
}
h3{
    color: aquamarine;
    text-align: center;
    font-size: 75px;
}
title{
    color: dodgerblue;
}