p{
    color: blueviolet;
    font-size: 55px;
}
h1{
    color: aqua;
    text-align: center;
    font-size: 150px;
}
h2{
    color: gold;
    font-size: 55px;
}
h3{
    color: aquamarine;
    font-size: 55px;
}
title{
    color: dodgerblue;
    font-size: 55px;
}